<div class="content">
  <div class="layout">
    <aside>
      <img alt="Profile picture" height="256" id="profile-picture" ngSrc="/profile-picture.png" priority width="256">
      <h1>Kazoroo</h1>
      <hr>

      <section id="contact">
        <button
          (click)="toggleAccordion()"
          [class.active]="isAccordionActive"
          class="accordion-button">
          <i [class.rotate-up]="!isAccordionActive" class="arrow"></i>
          Project
        </button>

        <div [@openClose]="isAccordionActive ? 'open' : 'closed'" class="accordion-item selected-project"
             routerLink="/projects/tavern-farkle">
          <img alt="Tavern Farkle logo" height="60" ngSrc="/tavern-farkle.png" width="60">
          <h2>Tavern Farkle</h2>
        </div>
        <div [@openClose]="isAccordionActive ? 'open' : 'closed'" class="accordion-item"
             routerLink="/projects/triviagen">
          <img alt="Triviagen logo" height="60" ngSrc="/triviagen.png" width="60">
          <h2>Triviagen</h2>
        </div>
        <div [@openClose]="isAccordionActive ? 'open' : 'closed'" class="accordion-item">
          <img alt="who is kazoroo logo" height="60" ngSrc="/who-is-kazoroo.png" width="60">
          <h2>who-is-Kazoroo</h2>
        </div>
      </section>
    </aside>
    <div class="right-side">
      <nav>
        <button routerLink="/">About Me</button>
        <button routerLink="/projects">Projects</button>
        <button routerLink="/skills">Skills</button>
      </nav>

      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <footer>
    © Copyright 2025. Made by Kazoroo
  </footer>
</div>
