<div class="content">
  <div class="layout">
    <aside>
      <img alt="Profile picture" height="256" id="profile-picture" ngSrc="/profile-picture.png" priority width="256">
      <h1>Kazoroo</h1>
      <hr>

      <section id="contact">
        <button
          (click)="toggleAccordion()"
          [class.active]="isAccordionActive"
          class="accordion-button">
          <i [class.rotate-up]="!isAccordionActive" class="arrow"></i>
          Project
        </button>

        <div [@openClose]="isAccordionActive ? 'open' : 'closed'" class="accordion-item selected-project">
          <img alt="Tavern Farkle logo" height="60" ngSrc="/tavern-farkle.png" width="60">
          <h2>Tavern Farkle</h2>
        </div>
        <div [@openClose]="isAccordionActive ? 'open' : 'closed'" class="accordion-item">
          <img alt="Triviagen logo" height="60" ngSrc="/triviagen.png" width="60">
          <h2>Triviagen</h2>
        </div>
        <div [@openClose]="isAccordionActive ? 'open' : 'closed'" class="accordion-item">
          <img alt="who is kazoroo logo" height="60" ngSrc="/who-is-kazoroo.png" width="60">
          <h2>who-is-Kazoroo</h2>
        </div>
      </section>
    </aside>
    <div class="right-side">
      <nav>
        <button routerLink="/">About Me</button>
        <button routerLink="/projects">Projects</button>
        <button routerLink="/skills">Skills</button>
      </nav>

      <main>
        <div id="project-description">
          <h2>Tavern Farkle</h2>
          <p>This is an Android dice game which is inspired by the mini-game from a <a
            href="https://store.steampowered.com/app/379430/Kingdom_Come_Deliverance/">Kingdome Come: Deliverance</a>.
            It consists of rolling 6 dice, and choosing the ones, that will give you the most points. The game has shop
            where user can spend coins on special dice, with special effects.
            Everything is complemented by atmospheric music and sounds. </p>

          <div id="main-images">
            <img alt="Tavern Farkle icon" height="120" ngSrc="/tavern-farkle.png" width="120"/>
            <a href="https://play.google.com/store/apps/details?id=pl.kazoroo.tavernFarkle" target="_blank">
              <img alt="Get it on Google Play" height="120"
                   ngSrc="/google-badge.png" width="309"/>
            </a>
          </div>

          <h3>Technologies used:</h3>
          <ul>
            <li>Kotlin</li>
            <li>Jetpack Compose</li>
            <li>Preferences Datastore</li>
            <li>Proto Datastore</li>
            <li>AdMob</li>
            <li>MediaPlayer</li>
            <li>SoundPool</li>
          </ul>
        </div>
      </main>
    </div>
  </div>
  <footer>
    © Copyright 2025. Made by Kazoroo
  </footer>
</div>

<router-outlet/>
