* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex: 1;
}

aside {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  width: 100%;
}

#profile-picture {
  border-radius: 1000px;
  margin: 20px;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav {
  height: 80px;
}

nav button:nth-of-type(2) {
  background-color: var(--tertiary);
}

nav button:hover {
  background-color: var(--light-secondary);
}

main {
  background-color: var(--secondary);
  flex: 1;
  padding: 50px;
}

main p {
  width: 30vw;
  min-width: 25vw;
  margin-bottom: 30px
}

main h2 {
  color: var(--tertiary);
  letter-spacing: 2px;
  margin-left: 20px;
  margin-bottom: 50px;
  width: 100%;
}

main img {
  position: relative;
  max-width: 100%;
  height: auto;
  aspect-ratio: auto;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  #main-section {
    flex-direction: column;
  }
}

#main-section {
  display: flex;
  justify-content: space-between;
}

.material-symbols-outlined {
  font-size: 32px;
}

footer {
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-weight: 300;
  color: gray;
}

hr {
  width: 380px;
  color: var(--tertiary);
  margin: 20px
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  margin-bottom: 10px;
  transition: 0.3s ease;
  transform: scaleX(-1) rotate(45deg);
}

.rotate-up {
  transform: scaleY(-1) rotate(45deg);
}

.accordion-item {
  position: relative;
  background-color: var(--secondary);
  overflow: hidden;
  border: none;
  border-bottom: 1px black solid;
  border-right: 1px black solid;
  padding: 10px;
  transition: background-color 0.3s ease-out;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.accordion-item h2 {
  text-align: center;
}

.accordion-item svg, img {
  border-radius: 100%;
}

.accordion-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, var(--tertiary) 0%, transparent 30%);
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.accordion-item:hover::before {
  opacity: 1;
}

.selected-project {
  background: linear-gradient(to left, var(--tertiary) 0%, var(--secondary) 70%);
}
