<div id="project">
  <div id="project-description">
    <h2>Tavern Farkle</h2>
    <p>This is an Android dice game which is inspired by the mini-game from a <a
      href="https://store.steampowered.com/app/379430/Kingdom_Come_Deliverance/">Kingdome Come: Deliverance</a>.
      It consists of rolling 6 dice, and choosing the ones, that will give you the most points. The game has shop
      where user can spend coins on special dice, with special effects.
      Everything is complemented by atmospheric music and sounds. </p>

    <div id="main-images">
      <img alt="Tavern Farkle icon" height="120" ngSrc="/tavern-farkle.png" width="120"/>
      <a href="https://play.google.com/store/apps/details?id=pl.kazoroo.tavernFarkle" target="_blank">
        <img alt="Get it on Google Play" height="120"
             ngSrc="/google-badge.png" width="309"/>
      </a>
    </div>

    <h3>Technologies used:</h3>
    <ul>
      <li>Kotlin</li>
      <li>Jetpack Compose</li>
      <li>Preferences Datastore</li>
      <li>Proto Datastore</li>
      <li>AdMob</li>
      <li>MediaPlayer</li>
      <li>SoundPool</li>
    </ul>
  </div>

  <div id="slideshow">
    <img alt="Tavern Farkle main menu" height="2553" ngSrc="/Screenshot_20241215_090633.png" width="1209">
    <img alt="Tavern Farkle gameplay" height="2553" ngSrc="/Screenshot_20250209_160542.png" width="1209">
  </div>
</div>
