@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --primary: #24292E;
  --secondary: #2F3033;
  --light-secondary: #4e5054;
  --tertiary: #425E95;
  --cta-yellow: #E0FF18;
  --light-blue: #93A7F7;

  --font-size-h1: 4rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-body: 1.5rem;
}

html {
  font-family: "Fira Code", monospace;
  font-size: 16px;
  background-color: var(--primary);
  color: white;
}

nav button {
  height: 80px;
  background-color: var(--secondary);
  width: min(33%, 240px);
  color: white;
  font-size: var(--font-size-h2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 3px solid var(--tertiary);
  cursor: pointer;
  transition: background-color 0.3s;
}

.accordion-button {
  background-color: var(--secondary);
  color: var(--tertiary);
  cursor: pointer;
  height: 8vh;
  width: 100%;
  text-align: center;
  font-size: var(--font-size-h2);
  font-weight: 500;
  border: none;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  transition: 0.4s;
}
